h1
{
    background-color: brown;
    color: white;
    padding: 10px;
    text-align: center;

}
.table
{
    margin: 0 auto;
    margin-top: 50px;
    width: 60%;

}
.mydiv{
        padding: 50px;
        }

.add{
       margin-left: 300px;

        }